.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	background: var(--primary-color);
}

.footer__text{
	line-height: 30px;
	color: rgb(167, 167, 167);
}

.footer__quick-links ul li{
	background: transparent;
}

.footer__quick-links ul li a{
	color: rgb(167, 167, 167);
}

.quick__links-title{
	margin-bottom: 20px;
	color: #fff;
	font-size: 18px;
}

.footer__contact li span,
.footer__contact li p{
	color: rgb(167, 167, 167);
}

.footer__contact li span{
	font-size: 20px;
}

.footer__contact li p{
	font-size: 16px;
}

.footer__copyright{
	color: rgb(167, 167, 167);
	font-size: 16px;
	text-align: center;
	margin-top: 50px;
}